body h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    font: 400 14px / 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.tm-section, .uk-text-medium {
    margin-bottom:60px;
}
